@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

.titlebar-close {
    display: none !important;
}

#star-button-box {
    display: none !important;
}

#reader-mode-button {
    display: none !important;
}

#identity-box {
    display: none !important;
}

#tracking-protection-icon-container {
    display: none !important;
}

#permissions-granted-icon {
    display: none !important;
}
