@import url("../../.cache/wal/colors-waybar.css");

* {
  border: none;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  margin: 4px;
  padding: 0 2px;
  border-radius: 5px;
  border: 2px solid @color2;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: @background;
  margin: 0 2px 0 2px;
  padding: 2px;
  border-radius: 5px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 10px;
  margin: 2px;
  color: #ffffff;
  border-radius: 5px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: @background;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.active {
  color: @background;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.urgent {
  background-color: @color1;
  color: @background;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#custom-arch {
  margin-top: 6px;
  margin-right: 2px;
  padding: 0 8px;
}

#custom-power {
  margin-bottom: 6px;
}

#custom-updates,
#battery,
#backlight,
#wireplumber,
#clock,
#tray,
#window {
  margin: 0 2px;
  padding: 4px 8px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#network {
  margin: 0 2px;
  padding: 4px 8px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#battery.warning,
#battery.critical,
#battery.urgent,
#battery.charging {
  background-color: @background;
  color: #ffffff;
}

tooltip {
  background-color: @background;
}

tooltip label {
  padding: 4px;
  color: #ffffff;
}

#clock {
  margin: 0 2px;
  padding: 2px 4px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
  font-size: 12px;
  font-weight: bold;
}
