@import url("../../.cache/wal/colors-waybar.css");

* {
  border: none;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 14px;
}

window#waybar {
  background-color: @background;
  margin: 6px;
  padding: 0 4px;
  border-radius: 5px;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  background-color: @background;
  margin: 0 2px 0 2px;
  padding: 2px;
  border-radius: 5px;
}

#workspaces button {
  all: initial;
  min-width: 0;
  box-shadow: inset 0 -3px transparent;
  padding: 4px 10px;
  margin: 2px;
  color: #ffffff;
  border-radius: 5px;
}

#workspaces button:hover {
  box-shadow: inherit;
  text-shadow: inherit;
  color: #0F0F0F;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.active {
  color: #0F0F0F;
  background-color: #ffffff;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#workspaces button.urgent {
  background-color: #f38ba8;
  color: #0F0F0F;
  box-shadow: 0 0 0 1px #3A3A3C;
  border-radius: 5px;
}

#custom-arch {
  margin: 0 4px 0 0;
  padding: 6px 16px 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#custom-updates {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#battery {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#backlight {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#wireplumber {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#network {
  margin: 0 2px 0 4px;
  padding: 6px 16px 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#clock {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#tray {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#window {
  margin: 0 2px 0 4px;
  padding: 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#custom-power {
  margin: 0 0 0 4px;
  padding: 6px 16px 6px 12px;
  background-color: @background;
  color: #ffffff;
  border-radius: 5px;
}

#battery.warning,
#battery.critical,
#battery.urgent,
#battery.charging {
  background-color: @background;
  color: #ffffff;
}

tooltip {
  background-color: @background;
}

tooltip label {
  padding: 4px;
  color: #ffffff;
}
